<!-- footer start -->
<footer class="black-bg">
    <div class="widget-area pt-70 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
                    <div class="footer-widget">
                        <img class="mb-30" src="/img/logo/logo-white.png" alt="天磁">
                        <ul class="footer-link">
                            <li><a href="/NMCAD" target="_blank">天磁CAD协同设计平台</a></li>
                            <li><a href="/NMBIM" target="_blank">天磁BIM协同管理平台</a></li>
                            <li><a href="/NMGIS" target="_blank">天磁GIS三维数字地球开发平台</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
                    <div class="footer-widget">
                        <h3>友情链接</h3>
                        <ul class="footer-link friendLink">

                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
                    <div class="footer-widget">
                        <h3>联系我们</h3>
                        <ul class="footer-info">
                            <li>公司地址: 上海市虹桥路333号, 中国</li>
                            <li>联系邮箱: NMsupport@163.com</li>
                            <li>QQ群: 310291268</li>
                            <li>热线时间: 08:00-18:00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area pt-25 pb-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="copyright-text text-center text-lg-left">
                        <p>Copyright ©2018 Natural Magnetism Info Sci & Tech Ltd. All Rights <a href="#">Reserved</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="footer-menu text-center  text-lg-right">
                        <nav>
                            <ul>
                                <li><a href="/about">公司介绍</a></li>
                                <li><a href="/contact">联系我们</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

<!-- All js here -->
<!-- All js here -->
<script type="text/javascript">
	$(document).ready(function () {
		// 给轮播图设置初始margin
		var headerHeight = $("header").outerHeight();
		$(".wrapper-box").css("marginTop", headerHeight + "px");
	})
</script>
<script type="text/javascript">
	$(document).ready(function () {

		// 获取友情链接
		$.ajax({
			type: 'GET',
			url: '/index/friendLink'
		}).done(function (res) {
			if (res.success === 1) {
				var friendLinks = res.data.friendLinks;
				var htmlStr = '';
				friendLinks.forEach(function (friendLink, index) {
					htmlStr += "<li><a href='" + friendLink.url + "' target='_blank'>" + friendLink.title + "</a></li>"
				})
				$(".friendLink").html(htmlStr);
			}
		})

		// 获取案例类型
		$.ajax({
			type: 'GET',
			url: '/index/projectCategory'
		}).done(function (res) {
			if (res.success === 1) {
				var projectCategorys = res.data.projectCategorys;
				var htmlStr = '';
				projectCategorys.forEach(function (projectCategory, index) {
					htmlStr += "<li><a href='/project/category/" + projectCategory._id + "'>" + projectCategory.name + "</a></li>"
				})
				$(".projectCategory_menu").html(htmlStr);
			}
		})

		// 获取产品列表
		$.ajax({
			type: 'GET',
			url: '/index/product'
		}).done(function (res) {
			if (res.success === 1) {
				var products = res.data.products;
				var htmlStr = '';
				products.forEach(function (product, index) {
					htmlStr += "<li><a href='/product/detail/" + product._id + "'>" + product.name + "</a></li>"
				})
				$(".product_menu").html(htmlStr);
			}
		})
	})
</script>
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.meanmenu.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>