<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>上海天磁信息科技</title>
    <meta name="description" content="上海天磁信息科技有限公司；为协同而生">
    <meta name="keyword" content="上海天磁;协同;信息交流;建筑信息化">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://nmist.oss-cn-hangzhou.aliyuncs.com/img/favicon.jpeg">
    <!-- Place favicon.ico in the root directory -->
    <!-- All css here -->
    <!-- All css here -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://nmist.oss-cn-hangzhou.aliyuncs.com/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://nmist.oss-cn-hangzhou.aliyuncs.com/css/slick.css">
    <link rel="stylesheet" href="https://nmist.oss-cn-hangzhou.aliyuncs.com/css/magnific-popup.css">
    <link rel="stylesheet" href="https://nmist.oss-cn-hangzhou.aliyuncs.com/css/nice-select.css">
    <link rel="stylesheet" href="https://nmist.oss-cn-hangzhou.aliyuncs.com/css/meanmenu.css">
    <link rel="stylesheet" href="https://nmist.oss-cn-hangzhou.aliyuncs.com/css/linearicons.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/animate.css/3.6.2/animate.min.css">
    <!--<link rel="stylesheet" href="https://nmist.oss-cn-hangzhou.aliyuncs.com/css/default.css">-->
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="https://nmist.oss-cn-hangzhou.aliyuncs.com/css/style.css">
    <link rel="stylesheet" href="https://nmist.oss-cn-hangzhou.aliyuncs.com/css/responsive.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
