<!--[if lte IE 9]>
<p class="browserupgrade">您正在使用一个<strong>过期的</strong>浏览器.请您<a href="https://browsehappy.com/">更新您的浏览器</a>以获得更优质的浏览体验.
<![endif]-->

<!-- Add your site or application content here -->
<!-- header start -->
<header>
    <div class="header-bottom-area">
        <div class="container">
            <div class="row flex-cc">
                <div class="col-xl-3 col-lg-3">
                    <div class="logo">
                        <a href="/">
                            <img src="/img/logo/logo.jpg" width="160" alt="天磁">
                        </a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9">
                    <div class="header-button f-right d-none d-lg-block">
                        <a href="/contact">联系我们</a>
                    </div>
                    <div class="main-menu f-right">
                        <nav id="mobile-menu">
                            <ul>
                                <li>
                                    <a href="/index">首页</a>
                                </li>
                                <li>
                                    <a href="/product">产品介绍</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/NMCAD">NMCAD</a>
                                        </li>
                                        <li>
                                            <a href="/NMBIM">NMBIM</a>
                                        </li>
                                        <li>
                                            <a href="/NMGIS">NMGIS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/useage">产品案例</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/example">商办类</a>
                                        </li>
                                        <li>
                                            <a href="/example">住宅类</a>
                                        </li>
                                        <li>
                                            <a href="/example">工建类</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/about">关于天磁</a>
                                </li>
                                <li>
                                    <a href="/news">新闻动态</a>
                                </li>
                                <li>
                                    <a href="/download">软件下载</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->