link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js")
link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css")
script(src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js")
link(href="/css/style.css", rel='stylesheet')