.container
	.row
		.col-md-4.flex-startc
			h3(style="margin-top:15px;") #{title}
			if title == '首页'
				a(href="http://app.tsmsjtu.cn", target="_blank", style="text-decoration: none;margin-left: 10px")
					button.btn.btn-success(type="button") 填写网页版风险评估报告
				button.btn.btn-success(type="button", style="margin-left: 5px", data-toggle="modal", data-target="#intruction-video-modal") 操作视频
		if title=="首页"
			.col-md-4
				form#form-search(action="/tsmsjtu/search", method="get")
					.input-group(style="padding-top:10px")
						input.form-control(type="text", name="query", placeholder="输入公司名称/行业关键字搜索")
						span.input-group-btn
							button.btn.btn-success(type="submit") 点击搜索
		.col-md-4.pull-right
			if user
				h5.text-right(style="display:flex;align-items:center")
					span.tsmsjtu-font-larger(style="white-space:nowrap") 欢迎您，
					a.tsmsjtu-font-large(href="/tsmsjtu/user/center?userId=#{user._id}", style="color:#337ab7;font-style:normal;margin-right:10px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;") &nbsp;#{user.name}
					span.dropdown(style="display: inline-block;")
						button.btn.btn-primary.dropdown-toggle(id="dLable", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 后台管理
							span.caret
						ul(class="dropdown-menu", aria-labelledby="dLable")
							if user.role === 7
								li
									a(href="/tsmsjtu/company/list") 业态列表
								li
									a(href="/tsmsjtu/company/add") 业态录入
								li
									a(href="/tsmsjtu/company/category/list") 行业列表
								li
									a(href="/tsmsjtu/company/category/add") 添加行业
								li
									a(href="/tsmsjtu/user/list") 网站用户列表
								li
									a(href='/tsmsjtu/message/list') 网站通知列表
								li
									a(href='/tsmsjtu/updateApp/list') App更新列表
								li
									a(href="/tsmsjtu/feedback/list") App反馈列表
								li
									a(href="/tsmsjtu/report/list") App报告列表
							if user.role === 6 || user.role === 7
								li
									a(href="/tsmsjtu/user/appUserList") App用户列表
							li
								a(href="/") 返回首页
					a.btn.btn-danger(href="/tsmsjtu/loginout", style="display:inline; margin-left:10px;") 注销
			else
				h5.text-right(style="margin-top: 10px")
				a(href="/",class="btn btn-primary pull-right", style="margin:0 0 10px 10px", data-toggle="modal", data-target="#signin-modal") 登录
				a(href="/",class="btn btn-success pull-right", data-toggle="modal", data-target="#signup-modal") 注册
	hr(style="margin:10px 0;margin-top:0;border-color:#d9d9d9")
#signin-modal.modal.fade
	.modal-dialog
		.modal-container(style="background:#fff;border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);")
			form(method="POST", action="/tsmsjtu/user/signIn")
				.modal-header
					h4.modal-title 登录
				.modal-body
					.form-group
						label(for="signinName") 账户：
						input#signinName.form-control(type="text", placeholder="请输入您的企业账号", name="user[name]")
					.form-group
						label(for="signPassword") 密码：
						input#signPassword.form-control(type="password", placeholder="请输入您的密码", name="user[password]")
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") 取消
					button.btn.btn-success(type="submit") 提交

#signup-modal.modal.fade
	.modal-dialog
		.modal-container(style="background:#fff;border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);")
			form(method="POST", action="/tsmsjtu/user/signUp")
				.modal-header
					h4.modal-title 注册
				.modal-body
					.form-group
						label(for="signupName") 账户：
						input#signupName.form-control(type="text", placeholder="请输入您的企业账号", name="user[name]")
					.form-group
						label(for="signupPassword") 密码：
						input#signupPassword.form-control(type="password", placeholder="请输入您的密码", name="user[password]")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") 取消
					button.btn.btn-success(type="submit") 提交
#intruction-video-modal.modal.fade
	.modal-dialog
		.modal-container(style="margin-left: -100px;width:800px;background:#fff;border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);")
			.modal-header
				h4.modal-title 点击播放/暂停
			.modal-body.flex
				video(src="/downloads/tsmsjtu_app.mp4", width="800", height="420" controls="controls")
			.modal-footer
				button.btn.btn-default(type="button", data-dismiss="modal") 取消
