<!-- wrapper-box start -->
<div class="wrapper-box p-0">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210"
         data-background="https://nmist.oss-cn-hangzhou.aliyuncs.com/img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>天磁信息科技</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item">
                                    公司简介
                                </li>
                                <li class="breadcrumb-item">
                                    发展历史
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <!-- who-we-area start -->
    <div class="who-we-area cover-bottom pt-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 wh-pad pr-60">
                    <div class="who-we-box white-bg">
                        <h2 class="mb-20">公司简介</h2>
                        <% company && company.introduction && company.introduction.split("||").forEach(function (item, index) { %>
                        <p class="suojin"><%= item %></p>
                        <% }) %>
                        <ul class="expert-list clearfix mb-30">
                            <% company && company.character && company.character.split("||").forEach(function (item, index) { %>
                            <li><%= item %></li>
                            <% }) %>
                        </ul>
                        <a data-animation="fadeInLeft" data-delay="1.2s" href="/contact" class="btn brand-btn"
                           style="animation-delay: 1.2s;"
                           tabindex="0">联系我们
                            <span>→</span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="zoomImage"
                         style="background-image: url(<%= company && company.imgUrl %>)"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- who-we-area end -->
    <!-- intro-area start -->
    <div class="intro-area pt-50 pb-50 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="intro-text text-center">
                        <h1>公司发展历史</h1>
                        <div class="blog-thumb mt-40">
                            <img src="<%= company && company.history %>" width="100%"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- intro-area end -->
    <!-- counter-area start -->
    <div class="counter-area pt-150 pb-120"
         data-background="https://nmist.oss-cn-hangzhou.aliyuncs.com/img/bg/bg-counter.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single-couter text-center mb-30">
                        <span class="lnr lnr-database"></span>
                        <p>成本</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single-couter text-center mb-30">
                        <span class="lnr lnr-thumbs-up"></span>
                        <p>效率</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single-couter text-center mb-30">
                        <span class="lnr lnr-checkmark-circle"></span>
                        <p>质量</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter-area end -->
    <!-- testimonial-area start -->
    <div class="testimonial-area gray-bg pt-115 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-title text-center mb-50">
                        <!--<h2>创始团队</h2>-->
                    </div>
                </div>
            </div>
            <!--<div class="row testimonial-box-active dot-style">-->
            <!--<div class="col-xl-4 col-md-4 col-lg-4">-->
            <!--<div class="testimonial-box text-center">-->
            <!--<div class="test-info">-->
            <!--<div class="test-thumb pb-15">-->
            <!--<img src="img/team/01.png" alt="">-->
            <!--</div>-->
            <!--<div class="test-title pb-20">-->
            <!--<h5>吴宇</h5>-->
            <!--<span>CEO</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--<p>英国曼彻斯特大学计算机硕士</p>-->
            <!--<p>上海第七批千人计划引进专家</p>-->
            <!--<p>具备丰富的商业智能及大数据挖掘研发领导经验</p>-->
            <!--<p>曾任英国XARIOS商业智能公司联合创始人及CTO</p>-->
            <!--<p>英国华人青年企业家联合会副会长</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xl-4 col-md-4 col-lg-4">-->
            <!--<div class="testimonial-box text-center">-->
            <!--<div class="test-info">-->
            <!--<div class="test-thumb pb-15">-->
            <!--<img src="img/team/02.png" alt="">-->
            <!--</div>-->
            <!--<div class="test-title pb-20">-->
            <!--<h5>邓雪原</h5>-->
            <!--<span>创始人兼CTO</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--<p>新加坡南洋理工大学 博士</p>-->
            <!--<p>英国特许土木工程师</p>-->
            <!--<p>上海交通大学BIM研究中心 执行主任</p>-->
            <!--<p>中国建筑学会建筑施工分会BIM专委会理事</p>-->
            <!--<p>中国工程建设标准化协会BIM专业委员会委员</p>-->
            <!--<p>中国BIM发展联盟理事会技术委员会委员</p>-->
            <!--<p>中国工程图学学会土木工程图学分会委员会委员</p>-->
            <!--<p>中国图学学会BIM专业委员会委员</p>-->
            <!--<p>上海BIM技术创新联盟副理事长</p>-->
            <!--<p>上海城市轨道交通BIM技术联盟常务理事</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xl-4 col-md-4 col-lg-4">-->
            <!--<div class="testimonial-box text-center">-->
            <!--<div class="test-info">-->
            <!--<div class="test-thumb pb-15">-->
            <!--<img src="img/team/03.png" alt="">-->
            <!--</div>-->
            <!--<div class="test-title pb-20">-->
            <!--<h5>李昂</h5>-->
            <!--<span>销售总监</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--<p>中南大学硕士研究生</p>-->
            <!--<p>芬兰A&A建筑设计事务所 建筑师</p>-->
            <!--<p>北京建工设计院 建筑师</p>-->
            <!--<p>中国BIM联盟理事，联合研发了首批P-BIM平台</p>-->
            <!--<p>中国装饰协会BIM专业委员会副会长，长期从事装饰BIM的研发及应用</p>-->
            <!--<p>GRAPHISOFT BIM经理，长期负责区域市场开拓、BIM技术及产品二次研发。具备丰富的商业经验及多年BIM产品研发、整合、架构的经验</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <!-- testimonial-area end -->
    <!-- features-area end -->

</div>