<div class="wrapper-box p-0">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210" data-background="img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>天磁产品案例</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item">
                                    <span>商办类</span>
                                </li>
                                <li class="breadcrumb-item">
                                    <span>住宅类</span>
                                </li>
                                <li class="breadcrumb-item">
                                    <span>工建类</span>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <div class="promotion-area mt-50">
        <div class="container gray-bg">
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title text-center mt-30 mb-30">
                        <h3>上海苏河洲际中心118、119街坊（洲际三期)</h3>
                    </div>
                    <div class="blog-thumb p-30 flex-cc">
                        <img src="img/example/01.jpg" alt="" style="width: 45%"/>
                        <img src="img/example/011.jpg" alt="" style="width: 45%"/>
                    </div>
                    <div class="meta-info">
                        <div class="card-title text-center mt-30 mb-30">
                            <h6 style="color:#9e9e9e;">——应用企业：上海江欢成建筑设计有限公司</h6>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">
                            客户评价
                        </h2>
                        <p>
                            NMCAD可提供统一的制图标准，规范资料交换与归档，并有效把握设计流程、质量与进度，还可以简化重复的工作以提升效率。
                            公司目前已将天磁CAD协同设计平台作为设计工作的日常操作平台，经过简单定制的平台已对公司新旧各类项目提供全面的支持。
                            相信这个基于CAD 的综合协同应用平台，将会通过推广应用进一步提高工作效率，有效保证设计质量，提升公司的设计管理水平。
                        </p>
                        <h6 class="fa-pull-right">
                            ——上海江欢成建筑设计有限公司
                            总建筑师  程之春
                        </h6>
                    </div>
                </div>
            </div>
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title text-center mt-30 mb-30">
                        <h3>“元祖梦世界” 国内首座儿童主题商场</h3>
                    </div>
                    <div class="blog-thumb p-30 flex-cc">
                        <img src="img/example/02.jpg" alt="" style="width: 45%"/>
                        <img src="img/example/022.jpg" alt="" style="width: 45%"/>
                    </div>
                    <div class="meta-info">
                        <div class="card-title text-center mt-30 mb-30">
                            <h6 style="color:#9e9e9e;">——应用企业：上海江欢成建筑设计有限公司</h6>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">
                            客户评价
                        </h2>
                        <p>
                            NMCAD可提供统一的制图标准，规范资料交换与归档，并有效把握设计流程、质量与进度，还可以简化重复的工作以提升效率。
                            公司目前已将天磁CAD协同设计平台作为设计工作的日常操作平台，经过简单定制的平台已对公司新旧各类项目提供全面的支持。
                            相信这个基于CAD 的综合协同应用平台，将会通过推广应用进一步提高工作效率，有效保证设计质量，提升公司的设计管理水平。
                        </p>
                        <h6 class="fa-pull-right">
                            ——上海江欢成建筑设计有限公司
                            总建筑师  程之春
                        </h6>
                    </div>
                </div>
            </div>
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title text-center mt-30 mb-30">
                        <h3>漕河泾现代服务集聚区二期3工程（W19项目）</h3>
                    </div>
                    <div class="blog-thumb p-30 flex-cc">
                        <img src="img/example/03.jpg" alt="" style="width:auto;"/>
                    </div>
                    <div class="meta-info">
                        <div class="card-title text-center mt-30 mb-30">
                            <h6 style="color:#9e9e9e;">——应用企业：上海核工程研究设计院</h6>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">
                            客户评价
                        </h2>
                        <p>
                            目前该软件使用人数共50人，建筑设计所的设计人员均使用该软件，先后有多个项目通过该软件平台完成。如漕河泾现代服务集聚区二期3工程（W19项目）。
                            该项目时间紧、内容复杂，由于业主方的需求经常发生较大变动，导致各专业之间的配合容易出现问题。使用天磁平台后，增加了提资资料的严肃性、准确性和规范性。
                            往常的提资资料经常通过邮件或RTX完成，文件和追溯性不强，天磁协同设计平台会将所有的提资资料进行备份保存，使得所有的流程都可追溯，项目出现问题时可以迅速找到问题来源。
                        </p>
                        <h6 class="fa-pull-right">
                            ——上海核工程研究设计院
                            建筑所副所长  李彦锋
                        </h6>
                    </div>
                </div>
            </div>
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title text-center mt-30 mb-30">
                        <h3>外高桥物流园区二期5-3地块（一期）仓库项目</h3>
                    </div>
                    <div class="blog-thumb p-30 flex-cc">
                        <img src="img/example/04.jpg" alt="" style="width:auto;"/>
                    </div>
                    <div class="meta-info">
                        <div class="card-title text-center mt-30 mb-30">
                            <h6 style="color:#9e9e9e;">——应用企业：上海核工程研究设计院</h6>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">
                            客户评价
                        </h2>
                        <p>
                            在“外高桥物流园区二期5-3地块（一期）仓库项目”中，使用了天磁平台，项目管理水平、调度能力进一步提高，
                            大幅提高了设计效率、设计质量，缩短了设计周期。尤其是可批量自动修改图层、编制目录、修改图框、
                            打印CAD成果（包括模型空间和布局空间）等等，将设计师从非技术类的重复工作中解脱出来，
                            以往需要十几小时甚至数天的重复劳动被大大简化，设计师能够将节省下的宝贵时间投入到更重要、更有价值的创造性工作中去。
                        </p>
                        <h6 class="fa-pull-right">
                            ——上海核工程研究设计院
                            建筑所副所长  李彦锋
                        </h6>
                    </div>
                </div>
            </div>
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title text-center mt-30 mb-30">
                        <h3>高新青少年培训活动中心项目</h3>
                    </div>
                    <div class="blog-thumb p-30 flex-cc">
                        <img src="img/example/05.jpg" alt="" style="width:auto;"/>
                    </div>
                    <div class="meta-info">
                        <div class="card-title text-center mt-30 mb-30">
                            <h6 style="color:#9e9e9e;">——应用企业：中国建筑西北设计研究院有限公司</h6>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">
                            客户评价
                        </h2>
                        <p>
                            天磁协同平台这种工作模式的推广势在必行，通过协同，能更好的实现制图标准化，
                            避免不必要的重复劳动，提高工作效率，更重要的是保证了图纸质量，减少了错碰漏；
                            也有效地提升了设计管理水平。
                        </p>
                        <h6 class="fa-pull-right">
                            ——中国建筑西北设计研究院
                            有限公司  屈培青工作室
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>