<!-- wrapper-box start -->
<div class="wrapper-box p-0">
    <!-- slider start -->
    <div class="slider-area slider-text-white">
        <div class="slider-active dot-style">
            <div class="single-slider height-100 d-flex align-items-center" data-background="img/slider/slider44.jpg">
            </div>
            <div class="single-slider height-100 d-flex align-items-center" data-background="img/slider/slider33.jpg">
            </div>
            <div class="single-slider height-100 d-flex align-items-center" data-background="img/slider/slider22.jpg">
            </div>
            <div class="single-slider height-100 d-flex align-items-center" data-background="img/slider/slider11.jpg">
            </div>
        </div>
    </div>
    <!-- slider end -->
    <!-- services-area start -->
    <div class="services-area pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrapper text-center mb-30">
                        <img src="img/icon/cad.png" alt="NMCAD">
                        <h2>NMCAD</h2>
                        <p>天磁CAD协同设计平台是在研究总结国内建筑CAD协同设计平台的基础上，进行深度研究，研发出适合我国大中型建筑设计企业使用的建筑CAD协同设计平台.</p>
                        <a href="/NMGIS">了解更多</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrapper text-center mb-30">
                        <img src="img/icon/bim.png" alt="NMBIM">
                        <h2>NMBIM</h2>
                        <p>天磁BIM协同设计平台让多专业BIM软件之间协同成为可能。采用国际通用IFC标准，搭建起各软件间沟通的桥梁，为BIM项目提供强有力的沟通平台.</p>
                        <a href="/NMGIS">了解更多</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="service-wrapper text-center mb-30">
                        <img src="img/icon/gis.png" alt="NMGIS">
                        <h2>NMGIS</h2>
                        <p>天磁GIS三维数字地球开发平台是一款基于多行业应用的二次开发平台，NMGIS 提供强大的开发对象集群和便捷的二次开发接口，满足多行业的业务需求.</p>
                        <a href="/NMGIS">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- services-area start -->
    <!-- cta-area-start -->
    <div class="cta-area theme-bg pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-9 col-md-8">
                    <div class="cta-text">
                        <h2>软件技术支持?</h2>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-4">
                    <div class="cta-button text-md-right">
                        <a class="btn white-btn" href="/contact">联系我们
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta-area-end -->
    <!-- portfolio-area start -->
    <div class="portfolio-area pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-title text-center mb-50">
                        <h2>产品案例</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="portfolio-menu mb-40 text-center">
                        <button class="active" data-filter="*">全部</button>
                        <button data-filter=".cat1">商办类</button>
                        <button data-filter=".cat2">住宅类</button>
                        <button data-filter=".cat3">工建类</button>
                    </div>
                </div>
            </div>
            <div class="row grid">
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1">
                    <div class="portfolio-wrapper mb-30">
                        <a href="/example" target="_blank">
                            <div class="portfolio-thumb">
                                <img src="img/portfolio/01.jpg" alt="">
                            </div>
                            <div class="portfolio-content">
                                <h3>
                                    <span>上海苏河洲际中心118、119街坊</span>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1">
                    <div class="portfolio-wrapper mb-30">
                        <a href="/example" target="_blank">
                            <div class="portfolio-thumb">
                                <img src="img/portfolio/02.jpg" alt="">
                            </div>
                            <div class="portfolio-content">
                                <h3>
                                    <span>"元祖梦世界"国内首座儿童主题商场</span>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1">
                    <div class="portfolio-wrapper mb-30">
                        <a href="/example" target="_blank">
                            <div class="portfolio-thumb">
                                <img src="img/portfolio/03.jpg" alt="">
                            </div>
                            <div class="portfolio-content">
                                <h3>
                                    <span>漕河泾现代服务集聚区二期3工程(W19项目)</span>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat3">
                    <div class="portfolio-wrapper mb-30">
                        <a href="/example" target="_blank">
                            <div class="portfolio-thumb">
                                <img src="img/portfolio/04.jpg" alt="">
                            </div>
                            <div class="portfolio-content">
                                <h3>
                                    <span>外高桥物流园区二期5-3地块（一期）仓库项目</span>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1">
                    <div class="portfolio-wrapper mb-30">
                        <a href="/example" target="_blank">
                            <div class="portfolio-thumb">
                                <img src="img/portfolio/05.jpg" alt="">
                            </div>
                            <div class="portfolio-content">
                                <h3>
                                    <span>高新青少年培训活动中心项目</span>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio-area end -->
    <!-- features-area start -->
    <div class="promotion-area gray-bg">
        <div class="promotion-img d-none d-lg-block" data-background="img/bg/fea.jpg"></div>
        <div class="container">
            <div class="row pt-110 pb-90">
                <div class="col-xl-6 offset-xl-6 offset-lg-6 col-lg-6 col-md-12">
                    <div class="promotion-text mb-30">
                        <h3>关于公司</h3>
                        <h5>天磁，为协同而生.</h5>
                        <P>上海天磁信息科技有限公司依托上海交通大学BIM研究中心创建，成立于2009年。主要业务涉及市政基础设施、铁路工程、轨道交通、道路桥梁隧道、工业与民用建筑等项目的CAD/BIM协同应用与技术咨询服务.</P>
                        <a href="/about" class="btn brand-btn">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- services-area start -->
    <!-- counter-area start -->
    <div class="counter-area pt-150 pb-120" data-background="img/bg/bg-counter.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single-couter text-center mb-30">
                        <span class="lnr lnr-pointer-up"></span>
                        <div class="charac">三大核心产品</div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single-couter text-center mb-30">
                        <span class="lnr lnr-rocket"></span>
                        <div class="charac">十年匠心智造</div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single-couter text-center mb-30">
                        <span class="lnr lnr-printer"></span>
                        <div class="charac">多项软件专利</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- team-area-end -->
    <!-- basic-blog-area -->
    <div class="basic-blog-area gray-bg pt-115 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-title text-center mb-50">
                        <h2>新闻动态</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 blog-item mb-40 test-thumb">
                    <div class="blog-wrapper blog-column">
                        <div class="blog-thumb">
                            <a href="news1.html" target="_blank">
                                <img src="img/blog/01.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="meta-info">
                            <ul>
                                <li class="posts-time">2018年9月19-20日</li>
                            </ul>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">
                                <a href="news1.html" target="_blank">上海交大BIM研究中心于成立叁周年之际发布“天磁NMBIM3.0”—暨2018中国路桥隧BIM技术应用峰会
                                </a>
                            </h2>
                        </div>
                        <div class="link-box">
                            <a href="news1.html" target="_blank">查看详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 blog-item mb-40 test-thumb">
                    <div class="blog-wrapper blog-column">
                        <div class="blog-thumb">
                            <a href="news2.html" target="_blank">
                                <img src="img/blog/02.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="meta-info">
                            <ul>
                                <li class="posts-time">2018年9月14日</li>
                            </ul>
                        </div>
                        <div class="blog-content">
                            <h2 class="blog-title">
                                <a href="news2.html" target="_blank">上海交大BIM研究中心及"天磁NMBIM"平台软件入选腾讯云合作伙伴</a>
                            </h2>
                        </div>
                        <div class="link-box">
                            <a href="news2.html" target="_blank">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- basic-blog-area end -->
    <!-- brand area start -->
    <div class="brand-area pt-70 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-title text-center mb-50">
                        <h2>合作伙伴</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand1.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand2.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand3.png" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand4.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand5.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand6.png" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand7.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand8.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand9.png" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand10.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand11.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand12.png" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand13.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand14.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand15.png" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand16.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand17.png" alt="">
                    </a>
                </div>
                <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 test-thumb">
                    <a href="#">
                        <img src="img/brand/brand18.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand area end -->