<!-- wrapper-box start -->
<div class="wrapper-box p-0">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210" data-background="img/bg/page-title.jpg"></div>
    <!-- page-title-area end -->

    <div class="container">
        <div class="row mt-50 mb-50">
            <div class="media">
                <div class="media-left media-middle tianci-data">
                    <i>2018年9月</i>
                    <p>19日</p>
                </div>
                <div class="media-body">
                    <a href="news1.html" target="_blank">
                        <h5 class="media-heading">上海交大BIM研究中心于成立叁周年之际发布“天磁NMBIM 3.0” ——暨2018中国路桥隧BIM技术应用峰会成功举行</h5>
                        <div style="color: #767676;">2018年9月19-20日，上海交大BIM研究中心成立叁周年暨2018中国路桥隧BIM技术应用峰会在上海建国宾馆顺利召开。
                            来自全国多所高校、勘察设计行业业主、设计、施工、制造、运维、软硬件等百余家企业代表近300人共聚一堂，
                            共同交流和分享BIM研究与应用的最新成果与经验。上海交大BIM研究中心在会上介绍了最新成果——“天磁NMBIM 3.0”。
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-50 mb-50">
            <div class="media">
                <div class="media-left media-middle tianci-data">
                    <i>2018年9月</i>
                    <p>14日</p>
                </div>
                <div class="media-body">
                    <a href="news2.html" target="_blank">
                        <h5 class="media-heading">上海交大BIM研究中心及天磁NMBIM软件入选腾讯云合作伙伴</h5>
                        <div style="color: #767676;">2018年9月14日，在深圳举行的腾讯云智慧地产解决方案发布会中，上海交大BIM研究中心及天磁NMBIM软件入选腾讯云合作伙伴。
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>