<!-- wrapper-box start -->
<div class="wrapper-box p-0">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210" data-background="img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>天磁NMBIM平台</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item">
                                    平台概述
                                </li>
                                <li class="breadcrumb-item">
                                    平台构成及特点
                                </li>
                                <li class="breadcrumb-item">
                                    平台操作流程
                                </li>
                                <li class="breadcrumb-item">
                                    平台优势
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <div class="promotion-area mt-50">
        <div class="container gray-bg">
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title mt-30 mb-30">
                        <h3><span class="lnr lnr-flag"></span>
                            <div style="display: inline-block;margin-left: 10px;">平台概述</div>
                        </h3>
                    </div>
                    <div class="blog-content">
                        <p>
                            <span class="lnr lnr-pointer-right"></span>
                            天磁BIM协同管理平台（NMBIM），可导入建筑全生命周期中各专业的三维建筑信息模型，统一协调各专业模型。提供符合国际IFC标准的输入与输出数据接口，可支持多项目多专业多版本的建筑信息模型的数据存储、查询、显示、分析与管理
                        </p>
                        <p>
                            <span class="lnr lnr-pointer-right"></span>
                            本平台适用于大中型建筑企业采用BIM技术进行协同工作，支持项目各参与方开展BIM项目管理
                        </p>
                        <p>
                            <span class="lnr lnr-pointer-right"></span>
                            天磁BIM协同设计平台最新版，全面兼容ArchiCAD、盈建科、MagiCAD等主流BIM专业设计软件导出的IFC格式文件
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container gray-bg">
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title mt-30 mb-30">
                        <h3><span class="lnr lnr-flag"></span>
                            <div style="display: inline-block;margin-left: 10px;">平台构成及特点（简单易用、安全有序）</div>
                        </h3>
                    </div>
                    <div class="blog-content mb-50">
                        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default mb-25">
                                <div class="panel-heading" role="tab" id="heading1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1"
                                           aria-expanded="true" aria-controls="collapse1">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                天磁BIM协同设计平台NMBIM服务器端
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目信息管理：可追溯查询往期项目，项目基本信息全部分类呈现</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    快速组建团队：项目秘书可在Web端随时更新项目相关设计人员，使设计人员快速融合进设计团队
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    便捷的提资计划管理：方便项目管理者快速查询及调整提资计划
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">提资进度一目了然：有效查看设计人员的实际提资进度，方便管理人员对设计人员绩效评估
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    便捷归档：每完成一个设计周期，项目秘书都可在Web端对所有图纸及模型进行一建归档，方便后期查询、修改
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    便利团队管理：成员列表详细记录每个设计人员所具有的设计角色，方便管理人员及时调整工作任务
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1"
                                           href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                天磁BIM协同设计平台NMBIM客户端
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">分类存储本专业文件：本专业模型文件，二维图纸、IFC文件有序存储在本专业文件夹
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    提资控制：设计人员“提资申请”，专业负责人“提资审核”
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">读取IFC文件：兼容显示主流BIM软件输出的IFC格式文件</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">跨专业组合模型：基于IFC标准，快速组合模型</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">模型查看：模型3D与2D视图自由切换，对模型自由旋转、缩放、平移</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    模型渲染：自定义光源选项，也可按需改变模型构件颜色
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">模型剖切：自定义剖切位置，观察模型内部细节</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">子模型创建：自由选取模型构件，输出构件IFC文件</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">模拟施工进度：施工过程模拟，利于各方直观查看施工流程及时间节点</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">工程统计：整个模型进行工程量统计，分析查看构件准确数据信息
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">协同审阅：对模型提出审阅意见、批注观点，跨专业协同交流</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container gray-bg">
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title mt-30 mb-30">
                        <h3><span class="lnr lnr-flag"></span>
                            <div style="display: inline-block;margin-left: 10px;">平台操作流程</div>
                        </h3>
                    </div>
                    <div class="blog-content">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="upload/introduction.mp4">
                                    <span class="lnr lnr-camera-video"></span>
                                    <div style="display: inline-block;margin-left: 10px;">观看天磁NMBIM平台操作流程视频
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="upload/introduction.pdf">
                                    <span class="lnr lnr-file-empty"></span>
                                    <div style="display: inline-block;margin-left: 10px;">
                                        下载天磁NMBIM平台操作流程指南
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container gray-bg">
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title mt-30 mb-30">
                        <h3><span class="lnr lnr-flag"></span>
                            <div style="display: inline-block;margin-left: 10px;">平台优势</div>
                        </h3>
                    </div>
                    <div class="blog-content mb-50">
                        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default mb-25">
                                <div class="panel-heading" role="tab" id="heading3">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse3"
                                           aria-expanded="true" aria-controls="collapse3">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                客户端含项目文件列表，直接进行协设计
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目文件按专业划分，可量身定制专业类别</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目文件提资控制，有效把控项目进度
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mb-25">
                                <div class="panel-heading" role="tab" id="heading4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
                                           href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                兼容常用BIM软件，高效管理各BIM软件输出的IFC文件
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">快速组合各BIM软件模型，集成标准化数据，组合模型仍为IFC文件</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">IFC子模型一键提取，提高IFC数据利用率</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mb-25">
                                <div class="panel-heading" role="tab" id="heading5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
                                           href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                基于IFC三维查看、跨专业三维协同
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">支持三维漫游</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">跨专业三维视图校审批注
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mb-25">
                                <div class="panel-heading" role="tab" id="heading6">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
                                           href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                用户界面简洁，操作方便
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目窗口、模型窗口自由分配位置</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">构件信息轻松查看</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading7">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
                                           href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                平台运行环境要求低
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">硬件环境：CPUi3以上，内存4G以上</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">操作系统：Windows7/8/10</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container gray-bg">
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title mt-30 mb-30">
                        <h3><span class="lnr lnr-flag"></span>
                            <div style="display: inline-block;margin-left: 10px;">平台培训与实施</div>
                        </h3>
                    </div>
                    <div class="blog-content">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="lnr lnr-chevron-right-circle"></span>
                                <div style="display: inline-block;margin-left: 10px;">专职强有力的研发团队、实施交付及培训团队
                                </div>
                            </li>
                            <li class="list-group-item">
                                <span class="lnr lnr-chevron-right-circle"></span>
                                <div style="display: inline-block;margin-left: 10px;">2～3小时高效培训，即可完全掌握平台的使用方法
                                </div>
                            </li>
                            <li class="list-group-item">
                                <span class="lnr lnr-chevron-right-circle"></span>
                                <div style="display: inline-block;margin-left: 10px;">具有深厚的协同设计理论基础和丰富的国内外工程设计背景与经验
                                </div>
                            </li>
                            <li class="list-group-item">
                                <span class="lnr lnr-chevron-right-circle"></span>
                                <div style="display: inline-block;margin-left: 10px;">综合了国内多家大型建筑设计企业的协同设计理论培训、操作培训、试点与推广的实施经验
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>