<!-- wrapper-box start -->
<div class="wrapper-box p-0">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210" data-background="https://nmist.oss-cn-hangzhou.aliyuncs.com/img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>天磁CAD平台</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item">
                                    平台概述
                                </li>
                                <li class="breadcrumb-item">
                                    平台构成及特点
                                </li>
                                <li class="breadcrumb-item">
                                    平台操作流程
                                </li>
                                <li class="breadcrumb-item">
                                    平台优势
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <div class="promotion-area mt-50">
        <div class="container gray-bg">
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title mt-30 mb-30">
                        <h3><span class="lnr lnr-flag"></span>
                            <div style="display: inline-block;margin-left: 10px;">平台概述（专为我国建筑设计院量身打造）</div>
                        </h3>
                    </div>
                    <div class="blog-content">
                        <p>
                            <span class="lnr lnr-pointer-right"></span>
                            天磁CAD协同设计平台最新版本全面支持AutoCAD及以AutoCAD为基础开发的各种专业软件，如天正、理正、探索者、博超、鸿业等
                        </p>
                        <p>
                            <span class="lnr lnr-pointer-right"></span>
                            天磁CAD协同设计平台是在研究总结国内建筑CAD协同设计平台的基础上，进行再完善再开发的适合于我国建筑设计企业的建筑
                            CAD协同设计平台
                        </p>
                        <p>
                            <span class="lnr lnr-pointer-right"></span>
                            天磁CAD协同设计平台有着强大的研发团队和交付服务团队，积累了丰富的建筑协同设计平台的实施与服务经验。
                            天磁CAD协同设计平台具有管理有序、快速应用的特点，能在最短的时间为企业构建协同设计平台、培训设计人员掌握协同设计技术
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container gray-bg">
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title mt-30 mb-30">
                        <h3><span class="lnr lnr-flag"></span>
                            <div style="display: inline-block;margin-left: 10px;">平台构成及特点（简单易用、安全有序、产生质的飞跃）</div>
                        </h3>
                    </div>
                    <div class="blog-content mb-50">
                        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default mb-25">
                                <div class="panel-heading" role="tab" id="heading1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1"
                                           aria-expanded="true" aria-controls="collapse1">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                天磁CAD协同设计平台NMCAD服务器端
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目信息管理：可追溯查询往期项目，项目基本信息全部分类呈现</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    快速组建团队：项目秘书可在Web端随时更新项目相关设计人员，使设计人员快速融合进设计团队
                                                </div>
                                            </li>
                                            <li class="list-group-item "><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    项目文件信息分类清晰,设计人员在客户端的每一个CAD文件的工作状态都可在Web端查询,管理人员可实时监督设计进度
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">便捷的提资计划管理：方便项目管理者快速查询及调整提资计划</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">提资进度一目了然：有效查看设计人员的实际提资进度，方便管理人员对设计人员绩效评估
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    便捷归档：每完成一个设计周期，项目秘书都可在Web端对所有图纸进行一建归档，方便后期查询、修改
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    便利团队管理：成员列表详细记录每个设计人员所具有的设计角色，方便管理人员及时调整工作任务
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1"
                                           href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                天磁CAD协同设计平台NMCAD客户端
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">定义图层修改：批量定义图层信息，快速转换非标准图层为标准图层</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    批量修改图层：“定义图层修改”与“修改图层”可联合使用，可快速转化合作单位CAD图纸中的图层为本单位标准图层，方便本单位设计人员继续完成绘图工作
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">图层检查：便利工程师自检是否符合图层标准</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">设计标准检查：便利专业负责人检查设计是否符合企业标准</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">文件提资：进度及质量管理的利器</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    外部参照引用：NMCAD平台“外部参照”功能配合使用“修改图层（外部参照）”，可自动处理出例如符合机电专业需要的建筑底图
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">批量修改图签：①图签公用信息自动更新；②多DWG文件同时修改</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">自动生成图纸目录：①量身定制目录模板；②自动检测图名/图号重复、缺失</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">设计综合：①直观选择图纸，支持多图参照；②综合管线清晰呈现</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">批量打印：①大量节省设计师出图前的重复性逐图打印工作；②自动规范PDF命名；
                                                    ③高效打印：50幅图为例，传统打印需要2小时，NMCAD3.0批量打印只需2分钟
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">文件拆分：①一键拆分；②自动规范拆分后图纸命名</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">
                                                    文件保存：与CAD2010/2012/2013/2014无缝对接，可直接打开图纸，在客户端“保存至当前目录”，将项目原有图纸快速上传至天磁CAD协同设计平台
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">归档提资：①便利设计人员归档；②便利项目秘书归档</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container gray-bg">
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title mt-30 mb-30">
                        <h3><span class="lnr lnr-flag"></span>
                            <div style="display: inline-block;margin-left: 10px;">平台操作流程</div>
                        </h3>
                    </div>
                    <div class="blog-content">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="upload/introduction.mp4">
                                    <span class="lnr lnr-camera-video"></span>
                                    <div style="display: inline-block;margin-left: 10px;">观看天磁NMCAD平台操作流程视频
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="upload/introduction.pdf">
                                    <span class="lnr lnr-file-empty"></span>
                                    <div style="display: inline-block;margin-left: 10px;">
                                        下载天磁NMCAD平台操作流程指南
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container gray-bg">
            <div class="pt-15 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title mt-30 mb-30">
                        <h3><span class="lnr lnr-flag"></span>
                            <div style="display: inline-block;margin-left: 10px;">平台优势</div>
                        </h3>
                    </div>
                    <div class="blog-content mb-50">
                        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default mb-25">
                                <div class="panel-heading" role="tab" id="heading3">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse3"
                                           aria-expanded="true" aria-controls="collapse3">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                项目管理：（提高管理水平、调度能力）
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">通过协同设计平台顺利推行企业CAD协同设计制图标准</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目文档服务器上设计成果集中存贮，安全备份</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">管理人员随时查看项目最新进展，全程及时掌控项目进度</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">分子公司跨部门项目组人员灵活动态调配</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目组权限管理轻松完成</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目完成即归档完成</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mb-25">
                                <div class="panel-heading" role="tab" id="heading4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
                                           href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                项目设计：（以项目为核心，大幅提高设计效率30%、设计质量）
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目图纸文档及时共享，终结因复制造成的各专业图纸间的错漏碰缺</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">统一的专业内、专业外协同设计流程，设计人员更易掌握</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">研发大量高效专业制图工具，大大提高设计效率（30%），同样时间完成更多项目
                                                </div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">设计过程即实现图纸集的版本控制与归档，不再出错</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">附赠以项目组为中心的即时信息沟通机制</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
                                           href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            <h5>
                                                <span class="lnr lnr-list"></span>
                                                项目协同：（缩短设计周期，更少时间完成更多更高质量项目）
                                            </h5>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目工作组灵活组建，统一协同工作模式，极大缩短项目组磨合时间</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目协同的使用大大减少项目组设计人员的反复交流、沟通时间</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目组及时清晰了解当前设计进程，大大缩短配图时间</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">可控各专业实时提资过程，杜绝邮件提资、修改更新不及时带来的各种问题</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">标准化协同设计流程，各个环节节省大量重复工作</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">快速响应设计变更，一改俱改，提升设计服务水平</div>
                                            </li>
                                            <li class="list-group-item"><span class="lnr lnr-chevron-right-circle"></span>
                                                <div style="display: inline-block;margin-left: 10px;">项目越大、效率越高、节省越多、优势越显</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-title mt-30 mb-30">
                        <h3><span class="lnr lnr-rocket"></span><div style="display: inline-block;margin-left: 10px;">NMCAD效率说明</div></h3>
                    </div>
                    <div class="blog-thumb p-30 flex-cc">
                        <img src="img/product/nmcad_cost.jpg" alt="" style="width:45%;"/>
                        <img src="img/product/nmcad_eff.jpg" alt="" style="width:45%;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container gray-bg">
        <div class="pt-15 pb-15 blog-post-items">
            <div class="blog-wrapper mb-40">
                <div class="card-title mt-30 mb-30">
                    <h3><span class="lnr lnr-flag"></span>
                        <div style="display: inline-block;margin-left: 10px;">平台培训与实施</div>
                    </h3>
                </div>
                <div class="blog-content">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="lnr lnr-chevron-right-circle"></span>
                            <div style="display: inline-block;margin-left: 10px;">专职强有力的研发团队、实施交付及培训团队——协同设计平台推广成功的关键
                            </div>
                        </li>
                        <li class="list-group-item">
                            <span class="lnr lnr-chevron-right-circle"></span>
                            <div style="display: inline-block;margin-left: 10px;">具有深厚的协同设计理论基础和丰富的国内外工程设计背景与经验
                            </div>
                        </li>
                        <li class="list-group-item">
                            <span class="lnr lnr-chevron-right-circle"></span>
                            <div style="display: inline-block;margin-left: 10px;">综合了国内多家大型建筑设计企业的协同设计理论培训、操作培训、试点与推广的实施经验
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
</div>