<!-- wrapper-box start -->
<div class="wrapper-box p-0">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210" data-background="img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>我们的产品</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item">
                                    <span>NMCAD</span>
                                </li>
                                <li class="breadcrumb-item">
                                    <span>NMBIM</span>
                                </li>
                                <li class="breadcrumb-item">
                                    <span>NMGIS</span>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <!-- services-area start -->
    <div class="services-area pt-115 pb-60">
        <div class="container">
            <div class="row service-wrapper-2">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="service-box service-3">
                        <img src="/img/service/01.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 flex-column-sp">
                    <div class="service-box service-3">
                        <h3>
                            <a href="/NMCAD">天磁NMCAD</a>
                        </h3>
                        <p>天磁CAD协同设计平台是在研究总结国内建筑CAD协同设计平台的基础上，进行深度研究，研发出适合我国大中型建筑设计企业使用的建筑CAD协同设计平台.</p>
                    </div>
                    <a data-animation="fadeInLeft" data-delay="1.2s" href="/NMCAD"
                       class="service-link btn brand-btn"
                       style="animation-delay: 1.2s;">查看详情
                        <span>→</span>
                    </a>
                </div>
            </div>
            <div class="row mt-100 service-wrapper-2">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="service-box service-3">
                        <img src="/img/service/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 flex-column-sp">
                    <div class="service-box service-3">
                        <h3>
                            <a href="/NMBIM">天磁NMBIM</a>
                        </h3>
                        <p>天磁BIM协同设计平台让多专业BIM软件之间协同成为可能。采用国际通用IFC标准，搭建起各软件间沟通的桥梁，为BIM项目提供强有力的沟通平台.</p>
                    </div>
                    <a data-animation="fadeInLeft" data-delay="1.2s" href="/NMBIM"
                       class="service-link btn brand-btn"
                       style="animation-delay: 1.2s;">查看详情
                        <span>→</span>
                    </a>
                </div>
            </div>
            <div class="row mt-100 service-wrapper-2">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="service-box service-3">
                        <img src="/img/service/03.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 flex-column-sp">
                    <div class="service-box service-3">
                        <h3>
                            <a href="/NMGIS">天磁NMGIS</a>
                        </h3>
                        <p>天磁GIS三维数字地球开发平台是一款基于多行业应用的二次开发平台，NMGIS 提供强大的开发对象集群和便捷的二次开发接口，满足多行业的业务需求.</p>
                    </div>
                    <a data-animation="fadeInLeft" data-delay="1.2s" href="/NMGIS"
                       class="service-link btn brand-btn"
                       style="animation-delay: 1.2s;">查看详情
                        <span>→</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>