<!-- wrapper-box start -->
<div class="wrapper-box p-0 gray-bg">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210" data-background="img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>人才招聘</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->


    <div class="container mt-50">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="who-we-box white-bg">
                    <h2 class="mb-20 tc">加入我们 一起探索协同的奥秘</h2>
                    <p class="suojin weintern-font-larger">
                        作为一家高新创业科技公司，天磁多年来求贤若渴，礼贤下士，人才是成就我们非凡事业的关键。天磁诚邀各方英才加入我们的团队，实现您的职业生涯理想。
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-50 pb-50">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-title text-center mb-50">
                    <h2>岗位招聘</h2>
                </div>
            </div>
        </div>
        <div class="row service-wrapper-2 white-bg">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="service-box service-3">
                    <h3>
                        <a href="javascript:;">C++/C#/VB软件开发</a>
                    </h3>
                    <h5 class="mb-20">
                        <a href="javascript:;">岗位要求</a>
                    </h5>
                    <ul class="weintern-gray-deep">
                        <li><span class="lnr lnr-pointer-right mr-10"></span>计算机类相关专业，有1年以上C++、C#开发经验;</li>
                        <li><span class="lnr lnr-pointer-right mr-10"></span>精通C++、C#，熟练掌握.net（C#和C++)平台开发技术，深刻理解面向对象设计，并具有良好的编程习惯;</li>
                        <li><span class="lnr lnr-pointer-right mr-10"></span>熟悉QT，能进行UI等相关开发者优先考虑;</li>
                        <li><span class="lnr lnr-pointer-right mr-10"></span>熟悉Oracle、SQLServer、Mysql等主流数据库管理系统、相关技术及工具者优先考虑;</li>
                        <li><span class="lnr lnr-pointer-right mr-10"></span>有OSG/ OpenGL相关开发经验者优先考虑;</li>
                        <li><span class="lnr lnr-pointer-right mr-10"></span>有VB及AutoCAD二次开发经验者优先考虑。</li>
                    </ul>
                    <h5 class="mt-20">工作地点</h5>
                    <p>上海交通大学校内（可远程工作)</p>
                    <a data-animation="fadeInLeft" data-delay="1.2s" target="_blank" href="/resume?jobname=<%= encodeURIComponent("C++/C#/VB软件开发")%>"
                       class="service-link btn brand-btn"
                       style="animation-delay: 1.2s;">简历投递
                        <span>→</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row service-wrapper-2 white-bg mt-50">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="service-box service-3">
                    <h3>
                        <a href="javascript:;">软件界面设计</a>
                    </h3>
                    <h5 class="mb-20">
                        <a href="javascript:;">岗位要求</a>
                    </h5>
                    <ul class="weintern-gray-deep">
                        <li><span class="lnr lnr-pointer-right mr-10"></span>工业设计或视觉传达专业本科或硕士研究生;</li>
                    </ul>
                    <h5 class="mb-20 mt-20">
                        <a href="javascript:;">岗位职责</a>
                    </h5>
                    <ul class="weintern-gray-deep">
                        <li><span class="lnr lnr-pointer-right mr-10"></span>对已有系列软件产品的界面进行重新设计与美化;</li>
                    </ul>
                    <h5 class="mt-20">工作地点</h5>
                    <p>上海交通大学校内（可远程工作)</p>
                    <a data-animation="fadeInLeft" data-delay="1.2s" target="_blank" href="/resume?jobname=<%= encodeURIComponent("软件界面设计")%>"
                       class="service-link btn brand-btn"
                       style="animation-delay: 1.2s;">简历投递
                        <span>→</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>