<!-- wrapper-box start -->
<div class="wrapper-box p-0">
    <!-- page-title-area start -->
    <div class="page-title-area pt-210 pb-210" data-background="https://nmist.oss-cn-hangzhou.aliyuncs.com/img/bg/page-title.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>天磁产品应用案例</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item">
                                    <span>商办类</span>
                                </li>
                                <li class="breadcrumb-item">
                                    <span>住宅类</span>
                                </li>
                                <li class="breadcrumb-item">
                                    <span>工建类</span>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <!-- services-area start -->
    <div class="services-area pt-115 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="service-box service-3 mb-50">
                        <img src="img/portfolio/shangban.jpg" alt="">
                        <h3>
                            <a href="/example">商办类</a>
                        </h3>
                        <p>天磁CAD协同设计平台是在研究总结国内建筑CAD协同设计平台的基础上，进行深度研究，研发出适合我国大中型建筑设计企业使用的建筑CAD协同设计平台.</p>
                        <a data-animation="fadeInLeft" data-delay="1.2s" href="/example" class="service-link btn brand-btn"
                           style="animation-delay: 1.2s;">查看详情
                            <span>→</span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="service-box service-3 mb-50">
                        <img src="img/portfolio/zhuzhai.jpg" alt="">
                        <h3>
                            <a href="/example">住宅类</a>
                        </h3>
                        <p>天磁BIM协同设计平台让多专业BIM软件之间协同成为可能。采用国际通用IFC标准，搭建起各软件间沟通的桥梁，为BIM项目提供强有力的沟通平台.</p>
                        <a data-animation="fadeInLeft" data-delay="1.2s" href="/example" class="service-link btn brand-btn"
                           style="animation-delay: 1.2s;">查看详情
                            <span>→</span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="service-box service-3 mb-50">
                        <img src="img/portfolio/changfang.jpg" alt="">
                        <h3>
                            <a href="/example">工建类</a>
                        </h3>
                        <p>天磁GIS三维数字地球开发平台是一款基于多行业应用的二次开发平台，NMGIS 提供强大的开发对象集群和便捷的二次开发接口，满足多行业的业务需求.</p>
                        <a data-animation="fadeInLeft" data-delay="1.2s" href="/example" class="service-link btn brand-btn"
                           style="animation-delay: 1.2s;">查看详情
                            <span>→</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>