<% include ../includes/backend-head.ejs %>
<body style="overflow-x: hidden;background-color: #eee;">
<% include ../includes/backend-header.ejs %>
<div class="main">
    <% include ../includes/backend-sidebar.ejs %>
    <div class="backend-container">
        <div class="row pb-10" style="margin-right: 0;margin-left: 0">
            <h2 class="w100 tc">用户官网访问统计</h2>
        </div>
        <hr class="layui-bg-blue pt-5">
        <div class="backend-content">

        </div>
    </div>
</div>

<script type="text/javascript">
</script>
</body>